body 
{
    background-color: rgb(135, 189, 250);
    font-family: 'Franklin Gothic Medium';
}

h1 
{
    color: white;
    text-align: center;
}

p
{
    font-family: Georgia;
    font-size: 20px;
}

header
{
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 6 px;
    padding-left: 15 px;
}

img
{
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    border: 2px solid
}